doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/public/css/style.css")
  body
    h1 Update Custom Object Form
    a(href="/") Return to the homepage
    form(action="/update-cobj" method="POST")
      label(for="name") Name
      input(type="text" id="name" name="name" required)
      br
      label(for="publisher") Publisher
      input(type="text" id="publisher" name="publisher")
      br
      label(for="price") Price
      input(type="text" id="price" name="price")
      br
      button(type="submit") Create